extends ./HomeUsuario

block content
  .row 
    .col-2
    .col-4
      h4.text-center.p-5 USUARIOS QUE TE SIGUEN
      if meSiguen && meSiguen.length > 0          
              table.table.success#table.border.bg-warning
                thead
                  tr
                    th NICK          
                    th.text-center ACCIONES                 
                tbody
                  each item in meSiguen
                    tr
                      td #{item.Seguidor.nick}
                      td.text-center
                        a(href=`/verSusPubl/${item.Seguidor.id}`)
                          i.fa.fa-eye(title="VER PUBLICACIONES" style="font-size:25px; color: black;")
      else
          p No se encontraron seguidores.